body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.containder {
    display: flex;
    gap: 20px;
    width: 400px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex-direction: row;
}

.box1 {
    background-color: #60db74;
}

.box2 {
    background-color: #1799b9;
}

.box3 {
    background-color: #a1d490;
}

.box4 {
    background-color: #f8b648;
}

.box5 {
    background-color: #f58b54;
}